In [56]:
#Imports
import numpy as np
import pandas as pd
import csv

# MyNetDiary Database

Stored as local CSV files, obtained from MND

In [2]:
def lines(input):
    return open(input, 'r').readlines()

def write_csv(text_file):
    text_name = str(text_file[:-4].lower())
    csv_file = text_name+r".csv"
    try:
        with open(text_file, "rt", newline='\n') as myFile:
            in_txt = csv.reader(myFile, delimiter = '\t')
            out_csv = csv.writer(open(csv_file, 'wt', newline='\n'))
            out_csv.writerows(in_txt)
    except:
        with open(text_file, "rt", newline='\n', encoding = 'cp1252') as myFile:
            in_txt = csv.reader(myFile, delimiter = '\t')
            out_csv = csv.writer(open(csv_file, 'wt', newline='\n'))
            out_csv.writerows(in_txt)

In [3]:
root = "Data/MyNetDiary/"
food = root + "Food.txt"
foodGroup = root + "FoodGroup.txt"
foodNutVal = root + "FoodNutrientValue.txt"
foodWeight = root + "FoodWeight.txt"
nutrients = root + "Nutrient.txt"
retiredFood = root + "retiredFoodId.txt"
vendorFood = root + "vendorFoodGroupId.txt"

In [4]:
"""
write_csv(food)
write_csv(foodGroup)
write_csv(foodNutVal)
write_csv(foodWeight)
write_csv(nutrients)
write_csv(retiredFood)
write_csv(vendorFood)
""";

In [5]:
df_food = pd.read_csv(root+"food.csv", encoding='latin1', names = ['foodId', 'foodDesc', 'boost', 'imageId', 'mainUPC', 'foodGroupId'])
df_foodGroup = pd.read_csv(root+"foodgroup.csv", encoding='latin1', names = ['foodGroupId', 'foodGroupDesc', 'masterGroupId'])
df_foodNutVal = pd.read_csv(root+"foodnutrientvalue.csv", encoding='latin1', names = ['foodId', 'nutrNo', 'nutrVal'])
df_nutrient = pd.read_csv(root+"nutrient.csv", encoding='latin1', names = ['nutrNo', 'nutrDesc', 'units'])
df_retiredFoodId = pd.read_csv(root+"retiredfoodid.csv", encoding='latin1', names = ['foodId'])
df_vendorFood = pd.read_csv(root+"vendorfoodgroupid.csv", encoding='latin1', names = ['foodGroupId'])
df_foodWeight = pd.read_csv(root+"foodweight.csv", encoding='latin1', names = ['foodId', 'sortOrder', 'measureDesc', 'amount', 'gmWgt'])

C:\Users\Artur\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
df_food.head()

,foodId,foodDesc,boost,imageId,mainUPC,foodGroupId
0,990,Generic food calories,1700580,801,\N,1000005
1,1001,Dairy and egg butter butter salted,581338,802,55872271850,901002
2,1002,Butter whipped with salt,3801170,802,\N,901002
3,1003,Butter oil anhydrous,107,802,\N,901002
4,1004,Cheese blue,1191410,102,\N,901003

In [37]:
df_food.shape

(448378, 6)

In [7]:
df_foodGroup.head()

   foodGroupId     foodGroupDesc masterGroupId
0            0         Food Tree            \N
1          100     Dairy and egg             0
2          200  Spices and Herbs             0
3          300        Baby foods             0
4          400     Fats and oils             0

In [38]:
df_foodGroup.shape

(18559, 3)

In [8]:
df_foodNutVal.head()

   foodId  nutrNo     nutrVal
0     990     208    1.000000
1    1001     203    0.850000
2    1001     204   81.110001
3    1001     205    0.060000
4    1001     208  717.000000

In [39]:
df_foodNutVal.shape

(6315456, 3)

In [9]:
df_foodWeight.head()

   foodId  sortOrder             measureDesc  amount gmWgt
0     990          1                 calorie     1.0    \N
1    1001          1                     cup     1.0   227
2    1001          2                    tbsp     1.0    14
3    1001          3  pat (1" sq, 1/3" high)     1.0     5
4    1001          4                   stick     1.0   113

In [40]:
df_foodWeight.shape

(9857, 5)

In [10]:
df_nutrient.head()

   nutrNo             nutrDesc units
0     203              Protein     g
1     204            Total Fat     g
2     205  Total Carbohydrates     g
3     208             Calories  kcal
4     209               Starch     g

In [41]:
df_nutrient.shape

(48, 3)

In [11]:
df_retiredFoodId.head()

   foodId
0  558970
1  558973
2  558975
3  558976
4  558979

In [42]:
df_retiredFoodId.shape

(67624, 1)

In [12]:
df_vendorFood.head()

                     foodGroupId
5422356  10 arts bistro & lounge
5423443           100 montaditos
5500719          16 handles cake
5423448                241 pizza
5422357     3 squares restaurant

In [43]:
df_vendorFood.shape

(1912, 1)

# Epicurius

In [13]:
root = "Data/Nutrition/Epicurius/"

In [14]:
df_epi = pd.read_csv(root + "epicurius.csv")

In [15]:
df_epi.head()

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df_epi.shape

(20052, 680)

# Food.com

In [18]:
root = "Data/Nutrition/Food.com/"
food_interactions_test = root + 'interactions_test.csv'
food_interactions_train = root + 'interactions_train.csv'
food_interactions_valid = root + 'interactions_validation.csv'
food_pp_recipes = root + 'PP_recipes.csv'
food_pp_users = root + 'PP_users.csv'
food_raw_interactions = root + 'RAW_interactions.csv'
food_raw_recipes = root + 'RAW_recipes.csv'

In [19]:
df_food_interactions_test = pd.read_csv(food_interactions_test)
df_food_interactions_train = pd.read_csv(food_interactions_train)
df_food_interactions_valid = pd.read_csv(food_interactions_valid)
df_food_pp_recipes = pd.read_csv(food_pp_recipes)
df_food_pp_users = pd.read_csv(food_pp_users)
df_food_raw_interactions = pd.read_csv(food_raw_interactions)
df_food_raw_recipes = pd.read_csv(food_raw_recipes)

In [20]:
df_food_interactions_test.head()

   user_id  recipe_id        date  rating   u       i
0     8937      44551  2005-12-23     4.0   2  173538
1    56680     126118  2006-10-07     4.0  16  177847
2   349752     219596  2008-04-12     0.0  26   89896
3   628951      82783  2007-11-13     2.0  45  172637
4    92816     435013  2013-07-31     3.0  52  177935

In [47]:
df_food_interactions_test.shape

(12455, 6)

In [21]:
df_food_interactions_train.head()

   user_id  recipe_id        date  rating      u       i
0     2046       4684  2000-02-25     5.0  22095   44367
1     2046        517  2000-02-25     5.0  22095   87844
2     1773       7435  2000-03-13     5.0  24732  138181
3     1773        278  2000-03-13     4.0  24732   93054
4     2046       3431  2000-04-07     5.0  22095  101723

In [48]:
df_food_interactions_train.shape

(698901, 6)

In [22]:
df_food_interactions_valid.head()

   user_id  recipe_id        date  rating   u       i
0    76535      33627  2005-02-15     4.0   5  177317
1   160497      75307  2005-10-24     4.0  23  170785
2   930021     100961  2008-11-30     4.0  31  165555
3    58439     154105  2007-03-24     4.0  44  177453
4   628951      14525  2008-02-16     5.0  45  142367

In [49]:
df_food_interactions_valid.shape

(7023, 6)

In [23]:
df_food_pp_recipes.head()

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"

In [51]:
df_food_pp_recipes.shape

(178265, 8)

In [24]:
df_food_pp_users.head()

,u,techniques,items,n_items,ratings,n_ratings
0,0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31
1,1,"[11, 0, 0, 2, 12, 0, 0, 0, 0, 14, 5, 0, 0, 0, ...","[122140, 77036, 156817, 76957, 68818, 155600, ...",39,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...",39
2,2,"[13, 0, 0, 7, 5, 0, 1, 2, 1, 11, 0, 1, 0, 0, 1...","[168054, 87218, 35731, 1, 20475, 9039, 124834,...",27,"[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...",27
3,3,"[498, 13, 4, 218, 376, 3, 2, 33, 16, 591, 10, ...","[163193, 156352, 102888, 19914, 169438, 55772,...",1513,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...",1513
4,4,"[161, 1, 1, 86, 93, 0, 0, 11, 2, 141, 0, 16, 0...","[72857, 38652, 160427, 55772, 119999, 141777, ...",376,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...",376

In [52]:
df_food_pp_users.shape

(25076, 6)

In [25]:
df_food_raw_interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [53]:
df_food_raw_interactions.shape

(1132367, 5)

In [26]:
df_food_raw_recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [54]:
df_food_raw_recipes.shape

(231637, 12)

# MyFitnessPal

In [27]:
root = "Data/Nutrition/MFP/"
mfp_tsv = root + "mfp-diaries.tsv"

In [28]:
#write_csv(mfp_tsv)

In [29]:
df_mfp = pd.read_csv(root+'mfp-diaries.csv')

In [30]:
df_mfp.head()

,1,2014-09-14,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"": [{""name"": ""Calories"", ""value"": ""412""}, {""name"": ""Carbs"", ""value"": ""29""}, {""name"": ""Fat"", ""value"": ""24""}, {""name"": ""Protein"", ""value"": ""21""}, {""name"": ""Sodium"", ""value"": ""258""}, {""name"": ""Sugar"", ""value"": ""29""}], ""name"": ""my - McDonalds Espresso Pronto\u00ae Flat White, 2 TALL""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""170""}, {""name"": ""Carbs"", ""value"": ""25""}, {""name"": ""Fat"", ""value"": ""5""}, {""name"": ""Protein"", ""value"": ""20""}, {""name"": ""Sodium"", ""value"": ""260""}, {""name"": ""Sugar"", ""value"": ""2""}], ""name"": ""Quest Bar - Banana Nut Muffin Natural Protein Bar, 60 g""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""176""}, {""name"": ""Carbs"", ""value"": ""33""}, {""name"": ""Fat"", ""value"": ""1""}, {""name"": ""Protein"", ""value"": ""5""}, {""name"": ""Sodium"", ""value"": ""195""}, {""name"": ""Sugar"", ""value"": ""0""}], ""name"": ""Uncle Tobys Australia - Vita Brits, 3 Biscuits 33.3g""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""342""}, {""name"": ""Carbs"", ""value"": ""34""}, {""name"": ""Fat"", ""value"": ""12""}, {""name"": ""Protein"", ""value"": ""24""}, {""name"": ""Sodium"", ""value"": ""402""}, {""name"": ""Sugar"", ""value"": ""34""}], ""name"": ""Pauls - Smarter White Milk, 600 ml""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""180""}, {""name"": ""Carbs"", ""value"": ""22""}, {""name"": ""Fat"", ""value"": ""7""}, {""name"": ""Protein"", ""value"": ""21""}, {""name"": ""Sodium"", ""value"": ""310""}, {""name"": ""Sugar"", ""value"": ""1""}], ""name"": ""Quest Bar - Cookies and Cream, 1 bar""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""180""}, {""name"": ""Carbs"", ""value"": ""46""}, {""name"": ""Fat"", ""value"": ""0""}, {""name"": ""Protein"", ""value"": ""0""}, {""name"": ""Sodium"", ""value"": ""100""}, {""name"": ""Sugar"", ""value"": ""22""}], ""name"": ""Gu Sports - Chomps, 8 pieces""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""170""}, {""name"": ""Carbs"", ""value"": ""25""}, {""name"": ""Fat"", ""value"": ""5""}, {""name"": ""Protein"", ""value"": ""20""}, {""name"": ""Sodium"", ""value"": ""260""}, {""name"": ""Sugar"", ""value"": ""2""}], ""name"": ""Quest Bar - Banana Nut Muffin Natural Protein Bar, 60 g""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""160""}, {""name"": ""Carbs"", ""value"": ""25""}, {""name"": ""Fat"", ""value"": ""5""}, {""name"": ""Protein"", ""value"": ""20""}, {""name"": ""Sodium"", ""value"": ""240""}, {""name"": ""Sugar"", ""value"": ""2""}], ""name"": ""Quest - Protein Bar Chocolate Peanut Butter, 1 bar (60 g)""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""686""}, {""name"": ""Carbs"", ""value"": ""59""}, {""name"": ""Fat"", ""value"": ""31""}, {""name"": ""Protein"", ""value"": ""40""}, {""name"": ""Sodium"", ""value"": ""1,105""}, {""name"": ""Sugar"", ""value"": ""9""}], ""name"": ""Grilld - Simply Grilled (Real), 1.25 burger""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""252""}, {""name"": ""Carbs"", ""value"": ""27""}, {""name"": ""Fat"", ""value"": ""14""}, {""name"": ""Protein"", ""value"": ""5""}, {""name"": ""Sodium"", ""value"": ""352""}, {""name"": ""Sugar"", ""value"": ""1""}], ""name"": ""Grilld - Snack Chips, 1 snack size""}, {""nutritions"": [{""name"": ""Calories"", ""value"": ""196""}, {""name"": ""Carbs"", ""value"": ""15""}, {""name"": ""Fat"", ""value"": ""10""}, {""name"": ""Protein"", ""value"": ""10""}, {""name"": ""Sodium"", ""value"": ""176""}, {""name"": ""Sugar"", ""value"": ""7""}], ""name"": ""Tasti - Salted Caramel Protein Bar, 40 g""}], ""sequence"": 1}]","{""total"": [{""name"": ""Calories"", ""value"": 2924}, {""name"": ""Carbs"", ""value"": 340}, {""name"": ""Fat"", ""value"": 114}, {""name"": ""Protein"", ""value"": 186}, {""name"": ""Sodium"", ""value"": 3658}, {""name"": ""Sugar"", ""value"": 109}], ""goal"": [{""name"": ""Calories"", ""value"": 3173}, {""name"": ""Carbs"", ""value"": 396}, {""name"": ""Fat"", ""value"": 105}, {""name"": ""Protein"", ""value"": 160}, {""name"": ""Sodium"", ""value"": 2300}, {""name"": ""Sugar"", ""value"": 119}]}"
0,1,2014-09-15,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2430}..."
1,1,2014-09-16,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1862}..."
2,1,2014-09-17,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2251}..."
3,1,2014-09-18,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2001}..."
4,1,2014-09-19,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2158}..."

In [55]:
df_mfp.shape

(19001, 4)

# Edamam API

Documentation:
For more information, check out the following links:

Food Database:      https://developer.edamam.com/food-database-api-docs

Nutrition Analysis: https://developer.edamam.com/edamam-docs-nutrition-api

Recipe API:         https://developer.edamam.com/edamam-docs-recipe-api

In [31]:
edamam_food_parser   = "https://api.edamam.com/api/food-database/v2/parser"
edamam_nutr_parser   = "https://api.edamam.com/api/nutrition-details"
edamam_recipe_parser = "https://api.edamam.com/search"

# Create Recipe Parser?

Ethical? Parse recipes + ratings